@model NAC.Models.Turma


@{
    ViewBag.Title = "CadastrarTurma";
}

<h2>CadastrarTurma</h2>


@using (Html.BeginForm()){


<div class="form-group">

    @Html.LabelFor(c => c.nome);
    @Html.TextBoxFor(c => c.nome , new { @class = "form-control"})

</div>


<input type="submit" value="Cadastrar" class="btn btn-primary" />

}
